<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>


    <div class="container">
        <h1>Login</h1>

        <form method="post">
        
            <div class="py-2">
                <label for="" class="form-label">Email:</label>
                <input type="text" class="form-control" name="email">
            </div>

            <div class="py-2">
                <label for="" class="form-label">Password:</label>
                <input type="text" class="form-control" name="pass">
            </div>

            <button class="btn btn-success">Login</button>
            <a href="/register" class="btn btn-primary">Register</a>
        </form>

        <hr>

        <a href="/forgot-password">Restore password</a>

        <% if(status == 'err') { %>
            <p class="text-danger">Incorrect login or password</p>
        <% } if(status == 'not-active') { %>
            <p class="text-danger">This email is need activate</p>
        <% } %>
    </div>
    
</body>
</html>